@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'components/card';
@import 'components/btn';


.text-center {
    text-align: center;
}

.site-header {
    padding: 10px 0;
    background-color: $color-bg-primary;
    color: $color-font-bright;
}

.site-header__title {
    @include media-query(mobile) {
        padding: 0 10px;
    }
}

.site-footer {
    padding: 10px 0;
}

.section {
    padding: 20px 0;
}

.section-cta {
    background-color: $color-bg-dark;
    color: $color-font-bright;
}

.cta {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta__heading {
    font-size: 31px;

    // @includeで@mixinを取り込む //
    @include media-query(desktop-wide) {
        font-size: 36px;
    }
}

.cta__button {
    @extend %btn;
    display: inline-block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-top: 15px;
}

.section-newsletter {
    background-color: $color-bg-dark;
    color: $color-font-bright;
}

.newsletter {
    padding: 20px 0;
}

.newsletter__heading {
    margin-bottom: 10px;

    @include media-query(desktop-wide) {
        font-size: 31px;
    }
}

.newsletter__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter__input {
    font-size: 22px;
}

.newsletter__button {
    @extend %btn;
    margin-left: 10px;
}